<!DOCTYPE html>
<html lang="cs">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>Blog Be</title>
    </head>
    <body>
    {include content}
    </body>
</html>
